* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 80vh;
  margin: 10px auto;
}

.carousel {
  border: 2px solid #ccc;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: all 0.3s;
}

.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.material-symbols-outlined {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.arrow span {
  font-size: 60px;
}

.controls ul {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  display: flex;
}

.controls ul li {
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 50px;
  margin: 10px;
  background: #333;
  cursor: pointer;
}

.controls ul li.selected {
  background: transparent;
}
